        /* Custom styles for sidebar transition */
        .sidebar {
          transition: transform 0.3s ease;
          position: fixed; /* Fixed positioning to avoid layout shifts */
          height: 100%; /* Full height */
          z-index: 30; /* Ensure it appears above other elements */
      }

      .sidebar.closed {
          transform: translateX(-100%);
      }

      @media (max-width: 425px) {
          #city-input {
              width: 60%;
              padding: 8px;
              font-size: 12px;
          }

          #search-button {
              padding: 8px 16px;
              font-size: 12px;
          }

          .main-content {
              padding: 16px;
              background-color: #f0f0f0;
          }

          .weather-widget,
          .chart-container,
          .chart {
              width: 100%;
              max-width: 90%;
              padding: 12px;
          }
      }